html,body{
  
}


.timeline-small {
  max-width: 75vw;
  max-height: 10000px;
  overflow: hidden;
  margin: 30px auto 0;
  box-shadow: 0 0 40px #a0a0a0;
  font-family: 'Open Sans', sans-serif;
}
.timeline-small-work {
  max-width: 75vw;
  max-height: 10000px;
  overflow: hidden;
  margin: 35px auto 0;
  box-shadow: 0 0 40px #a0a0a0;
  font-family: 'Open Sans', sans-serif;
}
.header-work {
  background: url(https://dhruvgajjar.github.io/images/chicago.jpg);
  background-position: bottom center;
  background-size: cover;
  color: #fff;
  position: relative;
  height:45vh;
}
.header-school {
  background: url(http://i.imgur.com/5s7FUDF.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
  position: relative;
  height:45vh;
}
.header-skills {
  background: url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: top center;
  background-size: cover;
  color: #fff;
  position: relative;
  height:45vh;
}
.color-overlay {
  padding: 3em 2em;
  box-sizing: border-box;

}
.header-name {
  font-size: 5vw;
  font-style: italic;	
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.header-sub {
  text-transform: uppercase;
  font-weight: 300;
  font-size: .6em;
  letter-spacing: 2px;
  margin-top: 2px;
}
.timeline-small-body ul {
  padding: 1em 0 0 2em;
  margin: 0;
  list-style: none;
  position: relative;
}
.timeline-small-body ul::before {
  content: ' ';
  height: 100%;
  width: 5px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: 2.4em;
  z-index: -1;
}
.timeline-small-body li div {
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
}
.timeline-small-body .bullet {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  margin-right: 1rem;
  margin-top: 1em;
}
.timeline-small-body .bullet.pink {
  background-color: hotpink;
  border: 3px solid #f93b69;
}
.timeline-small-body .bullet.yellow {
  background-color:#fff64c;
  border: 3px solid #e8cc00;
}
.timeline-small-body .bullet.uiuc {
  background-color: #E84A27;
  border: 3px solid #174589;
}
.timeline-small-body .bullet.blue {
  background-color: white;
  border: 3px solid #42a4f4;
}
.timeline-small-body .bullet.orange {
  background-color: salmon;
  border: 3px solid #eb8b6e;
}
.timeline-small-body .bullet.black {
  background-color: #636363;
  border: 3px solid #000000;
}
.timeline-small-body .date {
  width: 23%;
  font-size: 1.10em;
  font-family: 'Raleway', sans-serif;
  font-weight:800;
  padding-top: 0rem;
  padding-right: 2rem;
}
.timeline-small-body .desc {
  width: 50%;
}
.timeline-small-body h3 {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
.timeline-small-body h6 {
  font-size: 1em;
  font-weight: 400;
  margin: 15px;
  font-style:italic;
  font-family: 'Raleway', sans-serif;
}
.timeline-small-body h4 {
  margin: 0;
  font-size: 0.85em;
  font-weight: 400;
  color: Black;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
.timeline-small-body h5 {
  margin: 10px;
  font-size: 0.75em;
  font-weight: 400;
  color: #808080;
  font-family: 'Raleway', sans-serif;
  padding-left: 1rem;
}
img {
	padding-right: 10px;
}


/* The side navigation menu */
.sidenav {
    height: 125%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 45px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style:italic;	
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    font-weight:100;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


.adobe-download-button-container
{
  text-align:center;
}
.adobe-pdf-download
{
  border:2px solid #de4533;
  background:transparent;
  color: #de4533;
  text-transform:uppercase;
  font-size:0.8em;
  padding:0px 20px 0px 20px;
  Margin-top: 75px;
  transition: background 0.5s,color 0.5s;
}
.adobe-pdf-download a
{
  text-decoration:none;
  color: #de4533;
  transition: background 0.5s,color 0.5s;
  font-family:arial;
  font-weight:bold;
}
.adobe-pdf-download a:hover
{
  color:white;
  transition: background 0.5s,color 0.5s;
}
.adobe-pdf-download:hover a
{
  color:white;
  transition: background 0.5s,color 0.5s;
}
.adobe-pdf-download:hover
{
  background:#de4533;
  color:white;
  transition: background 0.5s,color 0.5s;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.adobe-pdf-download img
{
  margin:0px 10px 0px 0px;
  padding: 0px;
  height: 20px;
}
